<ion-view title="Ancien" id="page2">
  <ion-nav-title>{{Ancien.prenom}} {{Ancien.nom}} ({{Ancien.id}})</ion-nav-title>
  <ion-content padding="true" class="has-header">
    <div>
     <img src="https://www.polytechnique.org/photo/{{Ancien.forlife}}"
     style="display:inline-block; width:240px; height:auto; margin-left: auto; margin-right: auto;">
    </div> 
    <div id="ancien-markdown1" class="show-list-numbers-and-dots">
      <p>Origine: {{Ancien.origine}} ( {{Ancien.corps}} ) Promo: {{Ancien.promo}} {{Ancien.diplome}}
       Nat: {{Ancien.nationalite}}</p>
      <p>Cotisant: {{Ancien.cotisantDeb}}-{{Ancien.cotisant}} 
      Membre: {{Ancien.membre}} {{Ancien.deces}} {{Ancien.typeCotisation}} ({{Ancien.conjointNom}}) 
      Paiement: {{Ancien.modeCotisation}}</p>
      <p>Géo.: {{Ancien.cp}}{{Ancien.zip}} ({{Ancien.pays}})</p>
      <p>Mél.: {{Ancien.mel}}</p>
      <p>Tél.fixe: {{Ancien.tel}} Mobile: {{Ancien.mobile}}</p>
   	  <p>Rem: {{Ancien.commentaire}}</p>
    </div>
    <a ui-sref="activites({id:Ancien.id})" id="ancien-button1" class="button button-positive button-block">Activités prof.</a>
    <a ui-sref="cotisations({id:Ancien.id})" id="ancien-button2" class="button button-positive button-block">Cotisations</a>
    <a ui-sref="adresses({id:Ancien.id})" id="ancien-button3" class="button button-positive button-block">Adresses et tél.</a>
    
  </ion-content>
</ion-view>