<ion-view title="Ancien" id="page2">
  <ion-content padding="true" style="background: url(img/RQ0hvQhC6n7zZ8kzRvQF_4419000074_318b4e08fc_z.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div id="ancien-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <a ui-sref="activites()" id="ancien-button1" class="button button-positive button-block">Activités!</a>
    <a ui-sref="cotisations()" id="ancien-button2" class="button button-positive button-block">Cotisations!</a>
  </ion-content>
</ion-view>