<ion-view title="4dweb - Cotisations" id="page4">
<ion-nav-title>Historique cotisations</ion-nav-title>
  <ion-content padding="true" class="has-header">
    <ion-list id="cotisations-list5">
      <ion-item ng-repeat="Cotisation in Cotisations" ui-sref="cotisations({numReg:Cotisation.numReg})">
      <p><strong>{{Cotisation.anneeRef}}</strong> ({{Cotisation.dateReg|date:"dd-MM-yy"}} par {{Cotisation.modePaiement}}) 
      <strong>{{Cotisation.total}}€</strong> (c:{{Cotisation.cotisation}}€
       a:{{Cotisation.abonnement}}€ d:{{Cotisation.don}}€) &nbsp;
       {{Cotisation.detail}} - {{Cotisation.commentaire}} -{{Cotisation.versementLibelle}}</p>
      </ion-item>
      
    </ion-list>
  </ion-content>
</ion-view>